body{
    margin:20px;
    background-image: url(./surveybg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
div{
    text-align: center;
}
.section{
    text-align: left;
}
.information{
    text-align: center;
    font-size: 20px;
}
.box{
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-color: aqua;
}
table{
    width:80%;
}
.point{
    font-size: 20px;
}
td,th{
    border-bottom: 10px;
    text-align: center;
    padding: 10px;
}
.but{
    text-align: center;
}
button{
    width: 150px;
    padding: 10px;
    border: 0;
    border-radius: 12px;
    font-size: 15px;
    font-weight: 40px;
    background-color:  #e6a210;
    color:white;
}